* {
  margin: 0px;
  padding: 0px;
box-sizing: border-box;
}
/*------nav bar---*/
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  font-family: "Karla", sans-serif;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 40%;
}

.nav-links a {
  color: black;
  text-decoration: none;
}

.nav-links li {
  list-style: none;
}

.logo {
  margin: 1rem;
}

#nav-button {
  background-color: #ea686c;
  color: white;
  border-radius: 3px;
}
/*----hero-----------*/
#hero {
    background-image: url(/academy_pic/Image\ 26.png);
    width: auto;
    height: 40rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
position: relative;
}

#g-hero {
  background-image: url(/academy_pic/Mask\ Group\ 7.png);
  height: 20rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
width: auto;
background-color: #47cdc6;
text-align: center;
}

.set-up {
  background-color: #556272;
  font-family: "Montserrat", sans-serif;
  width: 20rem;
  height: auto;
  text-align: center;
  margin-top: 2rem;
  position: relative;
  left: 50rem;

}

#set-up-header {
  font-size: 1.3rem;
  color: white;
}

#set-up-text {
  font-size: 1rem;
  color: #ffffff;
}

.who-we-are {
  text-align: center;
}

#who-we-are-header {
  color: #556272;
  text-transform: capitalize;
  font-size: 2rem;
  font-family: "Karla", sans-serif;
  font-weight: bolder;
  margin-top: 4rem;
text-align: center;
}

#who-we-are-text {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5rem;
  margin-bottom: 5rem;
}

#first-green-lorem {
  background-color: #47cdc6;
  width: auto;
}

#first-green-lorem-text {
  position: absolute;
  top: 5rem;
  left: 28%;
  color: white;
  line-height: 2rem;
  font-size: 1.7rem;
}

#first-green-lorem-little-text {
  position: absolute;
  top: 10rem;
  left: 38%;
  color: white;
  line-height: 2rem;
  font-style: italic;
}

#second-green-lorem {
  background-color: #47cdc6;
  width: auto;
  
}
#second-green-lorem-text {
  position: absolute;
  top: 5rem;
  left: 28%;
  color: white;
  line-height: 2rem;
  font-size: 1.7rem;
}

#second-green-lorem-little-text {
  position: absolute;
  top: 10rem;
  left: 38%;
  color: white;
  line-height: 2rem;
  font-style: italic;
}
/*"modes"*/
#modes-title {
  color: #556272;
  text-transform: capitalize;
  font-size: 2rem;
  font-family: "Karla", sans-serif;
  font-weight: bolder;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

#modes-text {
  text-align: center;
}
.modes-flex {
  display: flex;
  justify-content: center;
  grid-gap: 10px;
}
/*grid--------layout*/
#gridLeftPicure{
width: 30rem;
height: 30rem;
}
.wrapper {
  
  justify-content: center;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 23.5rem);
  column-gap: 1%;
  row-gap: 1%;
}

.one {
 text-align: left;
  grid-column: 1;
 grid-row-start: 1;
 grid-row-end: 3;
}
.two {
  
  grid-column:2/2;
  text-align: right;
}
.three {
  width: 200px;
  grid-column:3/3;
text-align: left;
}
.four {
 
  grid-column: 2/3;
 grid-row: 2/2;
 text-align: right;
}
.five {
  width: 200px;
  grid-column: 3/3;
  grid-row: 2/3; 
text-align: left;
}

.card-pics {
  display: flex;
  justify-content: space-evenly;
}

#card-title {
  font-size: 2rem;
  font-family: "Karla", sans-serif;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.card-div {
  display: flex;
  justify-content: space-evenly;
}

#core-program,
#core-program-lorem {
  text-align: center;
}

#core-program {
  font-size: 3rem;
  font-family: "Karla", sans-serif;
  color: #556272;
  text-transform: capitalize;
}

#core-program-lorem {
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
}

#kids-yelling {
  width: 100%;
  margin-top: 9rem;
}

#card-title {
  margin-top: 12rem;
  font-family: "Karla", sans-serif;
}

#kids-yelling-title {
  color: black;
  position: absolute;
  left: 43rem;
  bottom: -190rem;
  font-family: "Karla", sans-serif;
  font-size: 3rem;
  font-weight: bold;
}

.kids-projects {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

#student-showdown {
  font-size: 3rem;
  margin-top: 7rem;
  text-align: center;
}

h5 {
  text-align: center;
}

#partners {
  text-align: center;
}

.sponors {
  margin-top: 8rem;
  text-align: center;
}
/* media queary*/

@media screen and (max-width) {
  
}