* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  font-family: "Karla", sans-serif;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 40%;
}

.nav-links a {
  color: black;
  text-decoration: none;
}

.nav-links li {
  list-style: none;
}

.logo {
  margin: 1rem;
}

#nav-button {
  background-color: #ea686c;
  color: white;
  border-radius: 3px;
}

#hero {
  margin-left: rem;
  width: 118.9rem;
}

.set-up {
  background-color: #556272;
  font-family: "Montserrat", sans-serif;
  width: 20rem;
  height: auto;
  text-align: center;
  margin-left: 50rem;
}

#set-up-header {
  font-size: 1.3rem;
  color: white;
}

#set-up-text {
  font-size: 1rem;
  color: #ffffff;
}

.who-we-are {
  text-align: center;
}

#who-we-are-header {
  color: #556272;
  text-transform: capitalize;
  font-size: 2rem;
  font-family: "Karla", sans-serif;
  font-weight: bolder;
  margin-top: 4rem;
}

#who-we-are-text {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5rem;
  margin-bottom: 8rem;
}

#first-green-lorem {
  background-color: #47cdc6;
  width: 118.9rem;
  position: relative;
}

#first-green-lorem-text {
  position: absolute;
  top: 83rem;
  left: 33%;
  color: white;
  line-height: 2rem;
  font-size: 1.7rem;
}

#first-green-lorem-little-text {
  position: absolute;
  top: 89rem;
  left: 48%;
  color: white;
  line-height: 2rem;
  font-style: italic;
}

#second-green-lorem {
  background-color: #47cdc6;
  width: 118.9rem;
  position: relative;
}
#second-green-lorem-text {
  position: absolute;
  top: 136rem;
  left: 33%;
  color: white;
  line-height: 2rem;
  font-size: 1.7rem;
}

#second-green-lorem-little-text {
  position: absolute;
  top: 142rem;
  left: 48%;
  color: white;
  line-height: 2rem;
  font-style: italic;
}

#modes-title {
  color: #556272;
  text-transform: capitalize;
  font-size: 2rem;
  font-family: "Karla", sans-serif;
  font-weight: bolder;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

#modes-text {
  text-align: center;
}
.modes-flex {
  display: flex;
  margin-left: 25rem;
  grid-gap: 10px;
}
.wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr 3fr;
  grid-column-gap: 1em;
  grid-gap: 4rem;
  grid-auto-rows: 10rem;
}

.one {
  grid-column: 1 / 3;
  grid-row: 1;
}
.two {
  grid-column: 3;
  grid-row: 1/3;
  justify-self: start;
}
.three {
  grid-column: 2;
  grid-row: 2;
  justify-self: right;
}
.four {
  grid-column: 2;
  grid-row: 1;
  justify-self: right;
}
.five {
  grid-column: 3;
  grid-row: 2;
}

.card-pics {
  display: flex;
  justify-content: space-evenly;
}

#card-title {
  font-size: 2rem;
  font-family: "Karla", sans-serif;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.card-div {
  display: flex;
  justify-content: space-evenly;
}

#core-program,
#core-program-lorem {
  text-align: center;
}

#core-program {
  font-size: 3rem;
  font-family: "Karla", sans-serif;
  color: #556272;
  text-transform: capitalize;
}

#core-program-lorem {
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
}

#kids-yelling {
  width: 100%;
  margin-top: 9rem;
}

#card-title {
  margin-top: 12rem;
  font-family: "Karla", sans-serif;
}

#kids-yelling-title {
  color: white;
  position: absolute;
  left: 50rem;
  bottom: -210rem;
  font-family: "Karla", sans-serif;
  font-size: 2rem;
}

.kids-projects {
  display: flex;
  margin-left: 35rem;
  margin-top: 5rem;
}

#student-showdown {
  font-size: 3rem;
  margin-top: 7rem;
  margin-left: 45rem;
}
